
body { color: purple;
  background-color: gray;
  font-family: Georgia, "Times New Roman",Times, serif;
  padding-left: 11em;
}

h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
